.square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.square .row-index {
    top: 5px;
    right: 5px;
    position: absolute;
}

.square .col-index {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.square--black {
    background-color: #4A4135;
}

.squere-piece {
    cursor: grab;
}

.square--white {
    background-color: #FFD8B4;
}

.square--selected {
    background-color: rgb(81, 122, 79);
}

.--possibleMoves {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.--possibleMovesPiece {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.--isCheck {
    background-color: red;
}