.square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.square .row_index {
    top: 5px;
    right: 5px;
    position: absolute;
}

.square .col_index {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.square_black {
    background-color: #4A4135;
}

.squere_piece {
    cursor: grab;
}

.square_white {
    background-color: #FFD8B4;
}

.square_selected {
    background-color: rgb(81, 122, 79);
}

._possibleMoves {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

._possibleMovesPiece {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

._isCheck {
    background-color: red;
}